services:
  api:
    image: ghcr.io/jendib/dailydash/api:latest
    pull_policy: always
    restart: always
    environment:
      DAILYDASH_CALENDAR_URL: '${DAILYDASH_CALENDAR_URL}'
      DAILYDASH_GOOGLEKEEP_MASTER_TOKEN: '${DAILYDASH_GOOGLEKEEP_MASTER_TOKEN}'
      DAILYDASH_GOOGLEKEEP_NODE_ID: '${DAILYDASH_GOOGLEKEEP_NODE_ID}'
      DAILYDASH_GOOGLEKEEP_SESSION_ID: '${DAILYDASH_GOOGLEKEEP_SESSION_ID}'
      DAILYDASH_HOMEASSISTANT_TOKEN: '${DAILYDASH_HOMEASSISTANT_TOKEN}'
      DAILYDASH_IMMICH_KEY: '${DAILYDASH_IMMICH_KEY}'
      QUARKUS_REST_CLIENT_HOMEASSISTANT_URL: '${QUARKUS_REST_CLIENT_HOMEASSISTANT_URL}'
      QUARKUS_REST_CLIENT_GOOGLEKEEP_URL: '${QUARKUS_REST_CLIENT_GOOGLEKEEP_URL}'
      QUARKUS_REST_CLIENT_IMMICH_URL: '${QUARKUS_REST_CLIENT_IMMICH_URL}'
    ports:
      - '10301:8080'

  web:
    image: ghcr.io/jendib/dailydash/web:latest
    pull_policy: always
    restart: always
    environment:
      API_URL: '${API_URL}'
    ports:
      - '10302:80'
